.Stats {
  /* border: 1px solid white; */
  width: 70%;
  margin: 12% auto;
}
.Stats__Heading {
  color: rgb(204, 214, 246);
  margin-bottom: 40px;
}

.Stats__Heading:after {
  background-color: #233554;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.Stats__Heading:after {
  left: 0.5em;
  margin-right: -50%;
}
.Stats__Cards {
  /* border: 1px solid white; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Stats__Cards__Card {
  border: 5px solid #5be8c9;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.Stats__Cards__Card > h4 {
  color: white;
  font-size: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Stats {
    /* border: 1px solid white; */
    width: 70%;
    margin: 12% auto;
  }
  .Stats__Heading {
    color: rgb(204, 214, 246);
    margin-bottom: 40px;
  }

  .Stats__Heading:after {
    display: none;
  }

  .Stats__Cards {
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .Stats__Cards > img {
    width: 100%;
  }
  .Stats__Cards__Card {
    border: 5px solid #5be8c9;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .Stats__Cards__Card > h4 {
    color: white;
    font-size: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Stats__Heading:after {
    width: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
